<div class="container col-12 col-md-11 col-lg-11 mx-auto mt-5 row align-self-center justify-content-center">

  <div class="col-12 d-flex justify-content-center mb-4">
    <img src="assets/Dagostin.svg" alt="Logo Dagostin" class="img-fluid" style="max-width: 200px;">
  </div>

  <section class="col-sm col-xxl-12 col-12 col-md-12 col-lg-12">

    <mat-card>

      <mat-card-content class="d-grid gap-3">
        <mat-label class="fs-3 fw-medium">
          Campo {{ campo?.numeroCampo}} -
          <span [ngClass]="{
            'tag-pendente': campo?.situacao === 'Pendente',
            'tag-aprovado': campo?.situacao === 'Aprovado',
            'tag-reprovado': campo?.situacao === 'Reprovado'
          }" class="tag">
            {{ campo?.situacao }}
          </span>
        </mat-label>
        <br>

        <!-- Dados do Produtor -->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-semibold">
                Dados do Produtor
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>

            <mat-list>
              <mat-list-item class="row align-items-center">
                <dt class="row ">
                  <label class="control-label">Renasem:</label>
                </dt>
                <dd class="row pt-2 ps-3">
                  SC-00570/2007
                </dd>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item class="row h-100" lines="1">
                <dt class="row ">
                  <label class="control-label">Nome:</label>
                </dt>
                <dd class="row pt-2 ps-3">
                  DAGOSTIN INDUSTRIA E COMERCIO DE SEMENTES LTDA
                </dd>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item class="row h-100" lines="1">
                <dt class="row ">
                  <label class="control-label">Email:</label>
                </dt>
                <dd class="row pt-2 ps-3" style="word-break: break-word;">
                  {{ "contato@dagostinsementes.com.br" }}
                </dd>
              </mat-list-item>

            </mat-list>

          </mat-expansion-panel>
        </mat-accordion>

        <!-- Dados do Campo -->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-semibold">
                Dados do Campo
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>

            <mat-list>

              <mat-list-item class="row align-items-center">
                <dt class="row">
                  <label class="control-label">N° Campo:</label>
                </dt>
                <dd class="row pt-2 ps-3">
                  {{ campo?.numeroCampo }}
                </dd>
              </mat-list-item>
              <mat-divider></mat-divider>

              <div *ngIf="campo?.LinkImagens != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Imagens do Campo:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    <a [href]="campo?.LinkImagens" target="_blank">{{ campo?.LinkImagens }}</a>
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.cooperadoNome != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Cooperado Nome:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.cooperadoNome }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.safra != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Safra:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.safra }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.especie != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Especie:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.especie }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.categoria != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Categoria:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.categoria }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.numeroGlebas != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Número de Glebas:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.numeroGlebas }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.latitude != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Coordenadas(Lat/Long):</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    <a [href]="'https://www.google.com.br/maps/place/' + campo?.latitude + '+' + campo?.longitude" target="_blank">{{ campo?.latitude }} + {{ campo?.longitude }}</a>
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.propriedadeNome != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Nome da Propriedade:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.propriedadeNome }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.municipio != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Município:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.municipio }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.uf != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">UF:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.uf }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.cultivar != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Cultivar:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.cultivar }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.area != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Área:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.area }} ha
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.dataPlantio != null && campo?.dataPlantio != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Data de Plantio:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ formatarData(campo?.dataPlantio) }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.dataColheita != null  && campo?.dataColheita != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Data da Colheita:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ formatarData(campo?.dataColheita) }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.dataPlantio != null && campo?.dataColheita != null &&
                          campo?.dataPlantio != '' && campo?.dataColheita != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Ciclo de Produção:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ calcularCiclo(campo?.dataColheita , campo?.dataPlantio) }} dias
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.producaoEstimada != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Produção Estimada:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.producaoEstimada }} ton
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.producaoBruta != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Produção Bruta:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.producaoBruta }} ton
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.dataPlantio != null && campo?.dataColheita != null &&
                          campo?.dataPlantio != '' && campo?.dataColheita != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Ciclo de Produção:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ calcularCiclo(campo?.dataColheita , campo?.dataPlantio) }} dias
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.producaoBruta != '' && campo?.area != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Produtividade (Produção Bruta / Área):</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ calcularProdutividade(campo?.producaoBruta , campo?.area) }} ton/ha
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

            </mat-list>

          </mat-expansion-panel>
        </mat-accordion>

        <!-- Resultados Parciais 01 - Emergência -->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-semibold">
                Resultado da Emergência
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="campo?.avaliacaoEmergencia?.amostra1?.especieDaninha != '' ||
                        campo?.avaliacaoEmergencia?.amostra2?.especieDaninha != '' ||
                        campo?.avaliacaoEmergencia?.amostra3?.especieDaninha != '' ||
                        campo?.avaliacaoEmergencia?.amostra4?.especieDaninha != '' ||
                        campo?.avaliacaoEmergencia?.amostra5?.especieDaninha != '' ||
                        campo?.avaliacaoEmergencia?.amostra6?.especieDaninha != '' ||
                        campo?.avaliacaoEmergencia?.observacoes != '' ||
                        campo?.avaliacaoEmergencia?.conclusoes != '' ; else noResults">

              <table *ngIf="campo?.avaliacaoEmergencia?.amostra1?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra2?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra3?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra4?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra5?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra6?.especieDaninha != '' "
                            style="width: 100%; border-collapse: collapse;">

                <mat-divider></mat-divider>
                <br>

                <tr style="text-align: left;">
                  <th style="width: 23%;">Espécie - plantas daninhas</th>
                  <th style="width: 9%;">Densidade</th>
                  <th style="width: 9%;">Frequência</th>
                  <th style="width: 9%;">Abundância</th>
                  <th style="width: 14%;">Densidade Relativa</th>
                  <th style="width: 15%;">Frequência Relativa</th>
                  <th style="width: 15%;">Abundância Relativa</th>
                  <th style="width: 6%;">IVI</th>
                </tr>
                <tr *ngIf="campo?.avaliacaoEmergencia?.amostra1?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoEmergencia?.amostra1?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra1?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra1?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra1?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra1?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra1?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra1?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra1?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoEmergencia?.amostra2?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoEmergencia?.amostra2?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra2?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra2?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra2?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra2?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra2?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra2?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra2?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoEmergencia?.amostra3?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoEmergencia?.amostra3?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra3?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra3?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra3?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra3?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra3?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra3?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra3?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoEmergencia?.amostra4?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoEmergencia?.amostra4?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra4?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra4?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra4?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra4?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra4?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra4?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra4?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoEmergencia?.amostra5?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoEmergencia?.amostra5?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra5?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra5?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra5?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra5?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra5?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra5?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra5?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoEmergencia?.amostra6?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoEmergencia?.amostra6?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra6?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra6?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra6?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra6?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra6?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra6?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoEmergencia?.amostra6?.IndiceValorImportancia }}</td>
                </tr>
              </table>

              <mat-list>

                <div *ngIf="campo?.avaliacaoEmergencia?.amostra1?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra2?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra3?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra4?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra5?.especieDaninha != '' ||
                            campo?.avaliacaoEmergencia?.amostra6?.especieDaninha != '' ">
                  <br>
                  <mat-divider></mat-divider>
                  <mat-list-item class="row align-items-center">
                    <dt class="row">
                      <label class="control-label">IVI - </label>
                    </dt>
                    <dd class="row pt-2 ps-3">
                      {{ "índice de valor de importância." }}
                    </dd>
                  </mat-list-item>
                </div>


                <div *ngIf="campo?.avaliacaoEmergencia?.observacoes != ''">
                  <mat-divider></mat-divider>
                  <mat-list-item class="row h-100" lines="1">
                    <dt class="row mt-3 align-self-start">
                      <label class="control-label">Observações:</label>
                    </dt>
                    <dd class="row m-3">
                      {{ campo?.avaliacaoEmergencia?.observacoes }}
                    </dd>
                  </mat-list-item>
                </div>


                <div *ngIf="campo?.avaliacaoEmergencia?.conclusoes != ''">
                  <mat-divider></mat-divider>
                  <mat-list-item class="row h-100" lines="1">
                    <dt class="row mt-3 align-self-start">
                      <label class="control-label">Conclusões:</label>
                    </dt>
                    <dd class="row m-3">
                      {{ campo?.avaliacaoEmergencia?.conclusoes }}
                    </dd>
                  </mat-list-item>
                </div>

              </mat-list>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <!-- Resultados Parciais 02 - Florecimento -->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-semibold">
                Resultado do Florecimento
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="campo?.avaliacaoFlorecimento?.amostra1?.especieDaninha != '' ||
                        campo?.avaliacaoFlorecimento?.amostra2?.especieDaninha != '' ||
                        campo?.avaliacaoFlorecimento?.amostra3?.especieDaninha != '' ||
                        campo?.avaliacaoFlorecimento?.amostra4?.especieDaninha != '' ||
                        campo?.avaliacaoFlorecimento?.amostra5?.especieDaninha != '' ||
                        campo?.avaliacaoFlorecimento?.amostra6?.especieDaninha != '' ||
                        campo?.avaliacaoFlorecimento?.observacoes != '' ||
                        campo?.avaliacaoFlorecimento?.conclusoes != '' ; else noResults">

              <table *ngIf="campo?.avaliacaoFlorecimento?.amostra1?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra2?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra3?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra4?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra5?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra6?.especieDaninha != '' "
                            style="width: 100%; border-collapse: collapse;">

                <mat-divider></mat-divider>
                <br>

                <tr style="text-align: left;">
                  <th style="width: 23%;">Espécie - plantas daninhas</th>
                  <th style="width: 9%;">Densidade</th>
                  <th style="width: 9%;">Frequência</th>
                  <th style="width: 9%;">Abundância</th>
                  <th style="width: 14%;">Densidade Relativa</th>
                  <th style="width: 15%;">Frequência Relativa</th>
                  <th style="width: 15%;">Abundância Relativa</th>
                  <th style="width: 6%;">IVI</th>
                </tr>
                <tr *ngIf="campo?.avaliacaoFlorecimento?.amostra1?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra1?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra1?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra1?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra1?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra1?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra1?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra1?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra1?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoFlorecimento?.amostra2?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra2?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra2?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra2?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra2?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra2?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra2?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra2?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra2?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoFlorecimento?.amostra3?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra3?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra3?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra3?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra3?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra3?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra3?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra3?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra3?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoFlorecimento?.amostra4?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra4?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra4?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra4?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra4?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra4?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra4?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra4?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra4?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoFlorecimento?.amostra5?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra5?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra5?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra5?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra5?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra5?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra5?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra5?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra5?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoFlorecimento?.amostra6?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra6?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra6?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra6?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra6?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra6?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra6?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra6?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoFlorecimento?.amostra6?.IndiceValorImportancia }}</td>
                </tr>
              </table>

              <mat-list>

                <div *ngIf="campo?.avaliacaoFlorecimento?.amostra1?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra2?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra3?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra4?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra5?.especieDaninha != '' ||
                            campo?.avaliacaoFlorecimento?.amostra6?.especieDaninha != '' ">
                  <br>
                  <mat-divider></mat-divider>
                  <mat-list-item class="row align-items-center">
                    <dt class="row">
                      <label class="control-label">IVI - </label>
                    </dt>
                    <dd class="row pt-2 ps-3">
                      {{ "índice de valor de importância." }}
                    </dd>
                  </mat-list-item>
                </div>


                <div *ngIf="campo?.avaliacaoFlorecimento?.observacoes != ''">
                  <mat-divider></mat-divider>
                  <mat-list-item class="row h-100" lines="1">
                    <dt class="row mt-3 align-self-start">
                      <label class="control-label">Observações:</label>
                    </dt>
                    <dd class="row m-3">
                      {{ campo?.avaliacaoFlorecimento?.observacoes }}
                    </dd>
                  </mat-list-item>
                </div>


                <div *ngIf="campo?.avaliacaoFlorecimento?.conclusoes != ''">
                  <mat-divider></mat-divider>
                  <mat-list-item class="row h-100" lines="1">
                    <dt class="row mt-3 align-self-start">
                      <label class="control-label">Conclusões:</label>
                    </dt>
                    <dd class="row m-3">
                      {{ campo?.avaliacaoFlorecimento?.conclusoes }}
                    </dd>
                  </mat-list-item>
                </div>

              </mat-list>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <!-- Resultados Parciais 03 - Pré Colheita -->
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-semibold">
                Resultado da Pré Colheita
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="campo?.avaliacaoPreColheita?.amostra1?.especieDaninha != '' ||
                        campo?.avaliacaoPreColheita?.amostra2?.especieDaninha != '' ||
                        campo?.avaliacaoPreColheita?.amostra3?.especieDaninha != '' ||
                        campo?.avaliacaoPreColheita?.amostra4?.especieDaninha != '' ||
                        campo?.avaliacaoPreColheita?.amostra5?.especieDaninha != '' ||
                        campo?.avaliacaoPreColheita?.amostra6?.especieDaninha != '' ||
                        campo?.avaliacaoPreColheita?.observacoes != '' ||
                        campo?.avaliacaoPreColheita?.conclusoes != '' ; else noResults">

              <table *ngIf="campo?.avaliacaoPreColheita?.amostra1?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra2?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra3?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra4?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra5?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra6?.especieDaninha != '' "
                            style="width: 100%; border-collapse: collapse;">

                <mat-divider></mat-divider>
                <br>

                <tr style="text-align: left;">
                  <th style="width: 23%;">Espécie - plantas daninhas</th>
                  <th style="width: 9%;">Densidade</th>
                  <th style="width: 9%;">Frequência</th>
                  <th style="width: 9%;">Abundância</th>
                  <th style="width: 14%;">Densidade Relativa</th>
                  <th style="width: 15%;">Frequência Relativa</th>
                  <th style="width: 15%;">Abundância Relativa</th>
                  <th style="width: 6%;">IVI</th>
                </tr>
                <tr *ngIf="campo?.avaliacaoPreColheita?.amostra1?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoPreColheita?.amostra1?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra1?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra1?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra1?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra1?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra1?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra1?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra1?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoPreColheita?.amostra2?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoPreColheita?.amostra2?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra2?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra2?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra2?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra2?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra2?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra2?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra2?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoPreColheita?.amostra3?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoPreColheita?.amostra3?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra3?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra3?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra3?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra3?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra3?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra3?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra3?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoPreColheita?.amostra4?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoPreColheita?.amostra4?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra4?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra4?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra4?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra4?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra4?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra4?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra4?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoPreColheita?.amostra5?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoPreColheita?.amostra5?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra5?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra5?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra5?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra5?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra5?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra5?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra5?.IndiceValorImportancia }}</td>
                </tr>
                <tr *ngIf="campo?.avaliacaoPreColheita?.amostra6?.especieDaninha != ''" style="text-align: left;">
                  <td>{{ campo?.avaliacaoPreColheita?.amostra6?.especieDaninha }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra6?.Densidade }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra6?.Frequencia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra6?.Abundancia }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra6?.DensidadeRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra6?.FrequenciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra6?.AbundanciaRelativa }}</td>
                  <td>{{ campo?.avaliacaoPreColheita?.amostra6?.IndiceValorImportancia }}</td>
                </tr>
              </table>

              <mat-list>

                <div *ngIf="campo?.avaliacaoPreColheita?.amostra1?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra2?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra3?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra4?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra5?.especieDaninha != '' ||
                            campo?.avaliacaoPreColheita?.amostra6?.especieDaninha != '' ">
                  <br>
                  <mat-divider></mat-divider>
                  <mat-list-item class="row align-items-center">
                    <dt class="row">
                      <label class="control-label">IVI - </label>
                    </dt>
                    <dd class="row pt-2 ps-3">
                      {{ "índice de valor de importância." }}
                    </dd>
                  </mat-list-item>
                </div>


                <div *ngIf="campo?.avaliacaoPreColheita?.observacoes != ''">
                  <mat-divider></mat-divider>
                  <mat-list-item class="row h-100" lines="1">
                    <dt class="row mt-3 align-self-start">
                      <label class="control-label">Observações:</label>
                    </dt>
                    <dd class="row m-3">
                      {{ campo?.avaliacaoPreColheita?.observacoes }}
                    </dd>
                  </mat-list-item>
                </div>


                <div *ngIf="campo?.avaliacaoPreColheita?.conclusoes != ''">
                  <mat-divider></mat-divider>
                  <mat-list-item class="row h-100" lines="1">
                    <dt class="row mt-3 align-self-start">
                      <label class="control-label">Conclusões:</label>
                    </dt>
                    <dd class="row m-3">
                      {{ campo?.avaliacaoPreColheita?.conclusoes }}
                    </dd>
                  </mat-list-item>
                </div>

              </mat-list>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <!-- Resultado Final -->
        <mat-accordion *ngIf="campo?.dataColheita != '' || campo?.umidade != ''
                           || campo?.producaoBruta != '' || campo?.observacoes != ''
                           || (campo?.producaoBruta != '' && campo?.area != '')">

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-semibold">
                Resultado Final
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>

            <mat-list>
              <div *ngIf="campo?.situacao != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Situação:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.situacao }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.dataColheita != null && campo?.dataColheita != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Data da Colheita:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ formatarData(campo?.dataColheita) }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.umidade != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Umidade:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.umidade }}%
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.producaoBruta != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Produção Bruta:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ campo?.producaoBruta }} ton
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.dataPlantio != null && campo?.dataColheita != null &&
                          campo?.dataPlantio != '' && campo?.dataColheita != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Ciclo de Produção:</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ calcularCiclo(campo?.dataColheita , campo?.dataPlantio) }} dias
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.producaoBruta != '' && campo?.area != ''">
                <mat-list-item class="row align-items-center">
                  <dt class="row">
                    <label class="control-label">Produtividade (Produção Bruta / Área):</label>
                  </dt>
                  <dd class="row pt-2 ps-3">
                    {{ calcularProdutividade(campo?.producaoBruta , campo?.area) }} ton/ha
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

              <div *ngIf="campo?.observacoes != ''">
                <mat-list-item class="row h-100" lines="1">
                  <dt class="row mt-3 align-self-start">
                    <label class="control-label">Observações:</label>
                  </dt>
                  <dd class="row m-3">
                    {{ campo?.observacoes }}
                  </dd>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>

            </mat-list>

          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-content>

      <mat-card-footer class="my-2">
        <br>
        <div class="row px-4 gap-2">

          <button mat-stroked-button color="primary" class="col" type="button" (click)="voltar()">
            <mat-icon>arrow_back</mat-icon>
            Voltar
          </button>

        </div>
      </mat-card-footer>

    </mat-card>

  </section>
</div>

<ng-template #noResults>
  <mat-list>
    <mat-divider></mat-divider>
    <br>
    <mat-list-item class="row align-items-center">
      <dd>
        Ainda não há dados cadastrados para esta avaliação.
      </dd>
    </mat-list-item>
  </mat-list>
</ng-template>
